.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #cccccc solid 2px;
  padding: 1em;

  .logo-container {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
  }

}
