<div class="course">
  <div class="info">
    <div class="title-container">
      <div>
        {{course.title | uppercase}}
        <i class="icon-star" *ngIf="course.topRated"></i>
      </div>
      <div>
        <span class="duration">{{course.duration | duration}}</span>
        <span class="creationDate"> {{course.creationDate | date: 'MM.dd.yyyy'}}</span>
      </div>
    </div>
    <p>
      {{course.description}}
    </p>
  </div>
  <div class="controls">
    <button (click)="editCourse()">Edit</button>
    <button class="deleteBtn" (click)="onDeleteClick.emit()">Delete</button>
  </div>
</div>
