<div class="loginPage">
  <form>
    <label for="email">Email *Required</label>
    <input id="email" [(ngModel)]="this.email" name="email"/>
    <label for="password">Password *Required</label>
    <input id="password" [(ngModel)]="password" name="password"/>
    <button (click)="login()">Login</button>
  </form>
</div>
