<form class="coursePage" [formGroup]="courseForm">
  <label for="title">Title</label>
  <input id="title" formControlName="title">
  <label for="description">Description</label>
  <input id="description" formControlName="description">
  <label for="date">Date</label>
  <input id="date" formControlName="creationDate" type="date">
  <label for="duration">Duration</label>
  <input id="duration" formControlName="duration"> <span>{{course.duration | duration}}</span>
  <label for="authors">Authors</label>
  <input id="authors" formControlName="authors">
  <div>
    <button (click)="onClickSave()">Save</button>
    <button (click)="onClickBack()">Back</button>
  </div>
</form>
