.courseList {
  border: #cccccc solid 1px;
}
.load-btn {
  margin: 1em;
  width: 90%;
}
.noData {
  text-transform: uppercase;
  border: #cccccc solid 1px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
