<div class="searchCourses">
  <div class="search">
    <input
      type="text"
      placeholder="Name, fragment or date"
      [(ngModel)]="query"
      (ngModelChange)="onChange($event)"
    >
  </div>
  <button routerLink="/courses/new">Add Course</button>
</div>
